@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
.three-cards-div-ds {
  width: 1240px;
  height: 341px;
  border-radius: 20px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  margin: auto;
  margin-top: 67px;
  box-shadow: 0, 0, 0, 0.15;
}

.fathers-cards {
  position: relative;
  top: 40px;
  margin-top: 10px;
  display: flex;
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 200px;
}
.fathers-cards .card-1-smal {
  width: 228px;
  height: 245px;
}
.fathers-cards .card-1-smal .card-1-smal {
  width: 228px;
  height: 245px;
}

.card-1-smal p {
  width: 225px;
  height: 65px;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.card-2-smal {
  width: 228px;
  height: 245px;
}

.card-2-smal h4 {
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  width: 228px;
  height: 48px;
}

.card-2-smal p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 225px;
  height: 65px;
}

.card-3-smal {
  width: 228px;
  height: 245px;
}

.card-3-smal h4 {
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  width: 228px;
  height: 48px;
}

.card-3-smal p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 225px;
  height: 65px;
}

.fathers-cards {
  padding: 40 80;
}

.why-us-card {
  width: 1242px;
  height: 748px;
  margin: auto;
}

.blue-png {
  position: relative;
  top: 0;
  width: 1240px;
  height: 453px;
  background-image: url(/img/truck-img.png);
  background-repeat: no-repeat;
}

.blue-png h3 {
  margin-top: -300px;
  width: 362px;
  height: 109px;
  font-family: Exo 2;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  margin-left: 90px;
}

.contener-for-2-div {
  width: 980px;
  height: 80px;
  margin: auto;
  display: flex;
}
.contener-for-2-div .contener-for-1-div {
  width: 490px;
  display: flex;
  gap: 40px;
  height: 80px;
}
.contener-for-2-div .contener-for-1-div .div-for-img-close img {
  width: 80px;
  height: 80px;
}

.div-for-text h5 {
  width: 327px;
  height: 21px;
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}

.div-for-text p {
  width: 291px;
  height: 41px;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.contener-for-2-div {
  margin-top: 50px;
}

.our-works-div {
  width: 1239px;
  height: 618px;
  border-radius: 10px 0px 0px 0px;
  margin: auto;
}

.our-works-div h2 {
  width: 687px;
  height: 49px;
  font-family: Exo 2;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
}

.our-works-div p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 459px;
  height: 41px;
  margin-top: 30px;
}

.father-big-three-div {
  display: flex;
  gap: 30px;
  margin-top: 56px;
}

.thre-big-div {
  width: 393px;
  height: 440px;
  border-radius: 10px 0px 0px 0px;
}

.for-text-1 {
  margin-left: 32px;
  margin-top: 32px;
}

.for-text-1 h5 {
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  width: 327px;
  height: 21px;
}

.for-text-1 p {
  width: 291px;
  height: 41px;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 16px;
}

.for-text-1 h4 {
  font-family: Exo 2;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  width: 92px;
  height: 17px;
  margin-top: 32px;
}

.steps-div {
  width: 1232px;
  height: 880px;
  margin: auto;
}

.step-text h3 {
  width: 687px;
  height: 49px;
  font-family: Exo 2;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
}

.step-div-1 {
  width: 1183px;
  height: 245px;
  border-radius: 4px 0px 0px 0px;
  margin: auto;
  display: flex;
  gap: 56px;
}

.step-div-1 img {
  padding: 32px;
}

.step-div-text h4 {
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  width: 258px;
  height: 20px;
  margin-top: 32px;
}

.step-div-text p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 568px;
  height: 88px;
  margin-top: 18px;
}

.line1 {
  width: 86px;
  height: 0px;
  top: 2828px;
  left: 632px;
  gap: 0px;
  border: 3px 0px 0px 0px;
  opacity: 0px;
  border: 3px solid #FFCE50;
  margin-top: 30px;
}

.step-div-2 {
  width: 1183px;
  height: 245px;
  border-radius: 4px 0px 0px 0px;
  margin: auto;
  display: flex;
  gap: 56px;
  margin-top: 24px;
}

.step-div-2 img {
  padding: 32px;
}

.step-div-3 {
  width: 1183px;
  height: 245px;
  border-radius: 4px 0px 0px 0px;
  margin: auto;
  display: flex;
  gap: 56px;
  margin-top: 24px;
}

.step-div-3 img {
  padding: 32px;
}

.vidios-page video {
  width: 1245px;
  height: 580px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contener {
  width: 1440px;
  height: 500px;
  margin: auto;
}
.contener .main-screen {
  width: 1240px;
  height: 505px;
  top: 109px;
  left: 100px;
  gap: 0px;
  opacity: 0px;
  margin: auto;
  display: flex;
  margin-top: 109px;
}
.contener .main-screen .main-saml-div1 {
  width: 620px;
  height: 505px;
  top: 109px;
  left: 100px;
  gap: 0px;
  opacity: 0px;
}
.contener .main-screen .main-saml-div1 .main-saml-div2 img {
  width: 635px;
  height: 505px;
}

.main-saml-div1 h4 {
  width: 610px;
  height: 119px;
  top: 190px;
  left: 100px;
  gap: 0px;
  opacity: 0px;
  font-family: Exo 2;
  font-size: 52px;
  font-weight: 600;
  line-height: 65px;
  text-align: left;
  margin-top: 81px;
}

.main-saml-div1 p {
  width: 525px;
  height: 66px;
  top: 349px;
  opacity: 0px;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400px;
  text-align: left;
  margin-top: 40px;
}

.main-saml-div1 h5 {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin-top: 40px;
}/*# sourceMappingURL=main.css.map */