.our-works-div {
width: 1239px;
height: 618px;
border-radius: 10px 0px 0px 0px;
// background-color: brown;
margin: auto;
}

.our-works-div h2 {
width: 687px;
height: 49px;
font-family: Exo 2;
font-size: 48px;
font-weight: 600;
line-height: 60px;
text-align: left;
   
}

.our-works-div p {
font-family: PT Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
width: 459px;
height: 41px;
margin-top: 30px;
}

.father-big-three-div {
    display: flex;
    gap: 30px;
    margin-top: 56px;
}

.thre-big-div {
width: 393px;
height: 440px;
border-radius: 10px 0px 0px 0px;
// margin-top: 24px;
}

.for-text-1  {
    margin-left: 32px;
    margin-top: 32px;
    }
    .for-text-1 h5 {
    font-family: Exo 2;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    width: 327px;
    height: 21px;
    }
    
    .for-text-1 p {
    width: 291px;
    height: 41px;
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
    }
    
    .for-text-1 h4 {
    font-family: Exo 2;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.6px;
    width: 92px;
    height: 17px;
    margin-top: 32px;
    }