.steps-div {
width: 1232px;
height: 880px;
margin: auto;
}

.step-text h3 {
width: 687px;
height: 49px;
font-family: Exo 2;
font-size: 48px;
font-weight: 600;
line-height: 60px;
}

.step-div-1 {
width: 1183px;
height: 245px;
border-radius: 4px 0px 0px 0px;
margin: auto;
display: flex;
gap: 56px;
}

.step-div-1 img {
    padding: 32px;
}

.step-div-text  h4 {
font-family: Exo 2;
font-size: 20px;
font-weight: 600;
line-height: 25px;
text-align: left;
width: 258px;
height: 20px;   
margin-top: 32px;
}

.step-div-text p {
font-family: PT Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
width: 568px;
height: 88px;
margin-top: 18px;
}

.line1 {
width: 86px;
height: 0px;
top: 2828px;
left: 632px;
gap: 0px;
border: 3px 0px 0px 0px;
opacity: 0px;
border: 3px solid #FFCE50;
margin-top: 30px;
}

.step-div-2 {
 width: 1183px;
 height: 245px;
 border-radius: 4px 0px 0px 0px;
 margin: auto;
 display: flex;
 gap: 56px;
 margin-top: 24px;
 }
 .step-div-2 img {
     padding: 32px;
 }

    .step-div-3 {
width: 1183px;
height: 245px;
border-radius: 4px 0px 0px 0px;
margin: auto;
display: flex;
gap: 56px;
margin-top: 24px;
}
    
.step-div-3 img {
 padding: 32px;
 }

.vidios-page video {
width: 1245px;
height: 678px; 
}