.why-us-card {
 width: 1242px;
height: 748px;
background-color: black;
margin: auto;
}

.blue-png {
    position: relative;
    top: 0;
width: 1240px;
height: 453px;
background-color: burlywood;
background-image: url(/img/truck-img.png);
background-repeat: no-repeat;
}

.blue-png h3 {
margin-top: -300px;
 width: 362px;
height: 109px;
font-family: Exo 2;
font-size: 48px;
font-weight: 600;
line-height: 60px;
margin-left: 90px;

}