@import"fonts"; 
@import"mini-3-card";
@import"why-us-page";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contener {
width: 1440px;
height: 500px;
margin: auto;
     .main-screen {
width: 1240px;
height: 505px;
top: 109px;
left: 100px;
gap: 0px;
opacity: 0px;
margin: auto;
display: flex; 
margin-top: 109px;
     .main-saml-div1 {
width: 620px;
height: 505px;
top: 109px;
left: 100px;
gap: 0px;
opacity: 0px;
  .main-saml-div2 img  { 
width: 635px;
height: 505px;
} } } }

.main-saml-div1 h4 {
 width: 610px;
 height: 119px;
 top: 190px;
 left: 100px;
 gap: 0px;
 opacity: 0px;
 font-family: Exo 2;
font-size: 52px;
font-weight: 600;
line-height: 65px;
text-align: left;
margin-top: 81px;
}

.main-saml-div1 p {
width: 525px;
height: 66px;
top: 349px;
opacity: 0px;
font-family: PT Sans;
font-size: 16px;
font-weight: 400px;
text-align: left;
margin-top: 40px;
}

.main-saml-div1 h5 {
font-family: PT Sans;
font-size: 16px;
font-weight: 700;
line-height: 24px;
text-align: left;
margin-top: 40px;

}